server:
  port: 8081
  servlet:
    context-path: /
spring:
  application:
    name: community
  redis:
    host: 127.0.0.1  #开发
#    host: redis #生产
    port: 6379
    database: 1
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/db_community?userSSL=false;serverTimezone=Asia/Shanghai #开发
#    url: jdbc:mysql://mysql:3306/db_community?userSSL=false;serverTimezone=Asia/Shanghai  #生产
    username: root
    password: 123456  #开发
#    password: ${datasource_password_pro} #生产
  mvc:
    path match:
      matching-strategy: ant-path-matcher
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mail:
    host: smtp.qq.com
    port: 587
    username: ${mail.username}
    password: ${mail.password}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
        transport:
          protocol: smtp
mybatis-plus:
  config-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    local-cache-scope: session
    cache-enabled: true
swagger:
  enabled: true  #开发
#  enabled: false  #生产
  pathMapping:
file:
  upload:
    path: ./path/to/upload/directory
#    path: /data/upload #生产
logging:
  level:
    root: info
    org.springframework.web: info
    com.example: debug
    com.baomidou.mybatisplus: debug #开发
#    com.baomidou.mybatisplus: warn #生产
  file:
    name: ./logs/application.log #开发
#    name: /data/logs/application.log #生产
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 300MB

deepseek:
  api:
    key: ${deepseek_key}
    url: ${deepseek_url}
    model: ${deepseek_model}
alipay:
  app-id: ${alipay_app-id}
  private-key: ${alipay_private-key}
  public-key: ${alipay_public-key}
  gateway-url: ${alipay_gateway-url}

#systemConstants:
#  baseUrl: http://127.0.0.1:8081
