<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communityserver.mapper.LikesMapper">


    <!-- todo 文章内容的点赞、收藏数、转发数，优化   -->
    <select id="getArticleLike" resultType="com.example.communityserver.entity.response.ArticleDtlVo">
        SELECT (SELECT COUNT(*)
                FROM article_interaction
                WHERE article_id = #{articleId}
                  AND action_type = 'LIKE')                                                        AS likeCount,
               (SELECT COUNT(DISTINCT user_id) FROM user_favorites WHERE target_id = #{articleId}) AS collectCount,
               IFNULL((SELECT count(*)
                       FROM article_interaction
                       WHERE article_id = #{articleId}
                         AND user_id = #{userId}
                         AND action_type = 'LIKE'), 0)                                             AS isLiked,
               (SELECT COUNT(DISTINCT user_id)
                FROM user_favorites
                WHERE target_id = #{articleId}
                  AND user_id = #{userId}) >
               0                                                                                   AS isCollected
    </select>


</mapper>
