<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communityserver.mapper.UserFavoriteMapper">

    <select id="selectFavoList" resultType="com.example.communityserver.entity.response.UserFavoListVo">
        SELECT
        a.article_id AS id,
        a.title,
        CASE
        WHEN a.image_url IS NOT NULL THEN a.image_url
        WHEN f.access_url IS NOT NULL THEN f.access_url
        ELSE NULL
        END AS coverUrl,
        u.nickname AS author,
        a.user_id AS authorId,
        (SELECT COUNT(*) FROM article_interaction av WHERE av.article_id = a.article_id) AS viewCount,
        (SELECT COUNT(*) FROM likes l WHERE l.target_id = a.article_id AND l.type = 'article' AND l.is_like = 1) AS
        likeCount,
        DATE_FORMAT(uf.created_at, '%Y-%m-%d %H:%i:%s') AS collectTime
        FROM
        user_favorites uf
        JOIN
        article a ON uf.target_id = a.article_id
        LEFT JOIN
        file f ON a.file_id = f.file_id
        JOIN
        user u ON a.user_id = u.user_id
        WHERE
        uf.user_id = #{loginUserId}
        <if test="param.folderId != null">
            AND uf.folder_id = #{param.folderId}
        </if>
        <if test="param.keyword != null and param.keyword != ''">
            AND a.title LIKE CONCAT('%', #{param.keyword}, '%')
        </if>
        AND a.is_del = 1
        AND a.is_drafts = 0
        ORDER BY
        uf.created_at DESC
    </select>
</mapper>