<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.communityserver.mapper.UserMapper">
    <select id="queryPermissionByUserId" resultType="java.lang.String">
        SELECT DISTINCT m.perms
        FROM menu m
                 JOIN role_menu rm ON m.menu_id = rm.menu_id
                 JOIN role r ON rm.role_id = r.role_id
                 JOIN user_role ur ON r.role_id = ur.role_id
                 JOIN user u ON ur.user_id = u.user_id
        WHERE u.user_id = #{userId}
          AND m.status = 1
          AND m.perms IS NOT NULL
          AND m.perms != ''
    AND r.status = 1
        ORDER BY m.perms
    </select>
    <select id="getAuthorInfoVo" resultType="com.example.communityserver.entity.response.AuthorInfoVo">
        SELECT u.user_id                                       AS id,
               u.username,
               u.nickname,
               u.avatar,
               p.bio,
               DATE_FORMAT(u.create_time, '%Y-%m-%d %H:%i:%s') AS joinDate,
               CASE
                   WHEN #{loginUserId} IS NULL THEN false
                   ELSE EXISTS (SELECT *
                                FROM follows
                                WHERE following_id = #{loginUserId}
                                  AND follower_id = u.user_id)
                   END                                         AS isFollowing
        FROM user u
                 LEFT JOIN
             profiles p ON u.user_id = p.user_id
        WHERE u.user_id = (SELECT user_id
                           FROM article
                           WHERE article_id = #{articleId}
                             AND is_del = 1)
    </select>
    <select id="getUsers" resultType="com.example.communityserver.entity.response.UserDelVo">
        SELECT
        *
        FROM
        user u
        LEFT JOIN
        profiles p ON u.user_id = p.user_id
        <where>
            <if test="param.username != null and param.username != ''">
                AND u.username LIKE CONCAT('%', #{param.username}, '%')
            </if>
            <if test="param.email != null and param.email != ''">
                AND u.email LIKE CONCAT('%', #{param.email}, '%')
            </if>
            <if test="param.status != null and param.status != ''">
                AND u.is_active = #{param.status}
            </if>
            and u.is_del = 0
        </where>
        ORDER BY u.create_time DESC
    </select>
    <select id="getUserProfile" resultType="com.example.communityserver.entity.response.UserDelVo">
        SELECT *
        FROM user u
                 LEFT JOIN
             profiles p ON u.user_id = p.user_id
        where u.user_id = #{userId}
    </select>
</mapper>
